@model RR.Dto.SubscribeDto
<section class="section custom-float-width">
    <div class="footer">
        <div class="footer_title">
            READY TO RIDE? SIGN UP FOR OUR NEWSLETTER FOR EXCLUSIVE ACCESS.
        </div>
        
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 col-12 footer_form">
                <!-- Begin Constant Contact Inline Form Code -->
                <div class="ctct-inline-form" data-form-id="4dca606e-2084-4cb9-97ed-dbd1fcb06526"></div>
                <!-- End Constant Contact Inline Form Code -->
            </div>
            <div class="col-lg-3"></div>
        </div>
        
    </div>
</section>