<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Server=tcp:rankridedbserver.database.windows.net,1433;Initial Catalog=RankRideStatic;Persist Security Info=False;User ID=usrrankride;Password=Z7h=N!4Zkt;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add key="ThirdPartyApikey" value="8f487e0a-cb41-42cf-ab18-08cfd71ab055" />
    <add key="FolderPath" value="C:\inetpub\Sites\tpd.txt" />
    <!--<add key="ThirdPartyApikey" value="test01459rrtest" />-->
    <add key="HourToUpdate" value="2" />
  </appSettings>
</configuration>