@model RR.Dto.ForgetPasswordDto
<div class="col-md-12">
    <div id="fpRespone"></div>
    <div id="fpBody">
        <h5 class="text-center">Forgot Password</h5>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="text-center">
                    <div class="panel-body mt-20">
                        <form id="fpForm" asp-action="ForgotPassword" asp-controller="Account" method="POST" data-ajax="true" data-ajax-begin="onBegin" data-ajax-complete="onComplete"
                              data-ajax-failure="onFailed" data-ajax-success="onForgotPasswordSuccess" data-ajax-update="fpRespone">
                            <div class="form-wrap">
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-input", autocomplete = "off", placeholder = "Email" })
                                @Html.ValidationMessageFor(x => x.Email)
                            </div>
                            <button class="button button-lg button-dark button-block custom-gold-btn" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>