
<section class="section custom-float-width">
    <div class="container">
        <div class="main_logo">
            <div class="col-12">
                <div class="sponsors">PARTNERSHIPS</div>
            </div>

            <div class="row mt-2">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center mt-sm-2">
                    <a href="https://pbr.com/" target="_blank"><img src="/images/home/logo_0.png" class="main_logo_images" style="max-height:123px;" /></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center mt-sm-2">
                    <a href="http://www.diamondcrossranch.com/" target="_blank"><img src="/images/home/logo_7.png " class="main_logo_images" /></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center mt-sm-2">
                    <a href="http://www.thegaugepodcast.com/" target="_blank"><img src="/images/home/logo_5.png" class="main_logo_images" style="max-height:123px;" /></a>
                </div>
            </div>
        </div>
        <div class="col-12 mt-5 mb-4">
            <center>
                <a class="main_logo_images_see" href="/contact-us">
                    Contact us for partnerships
                </a>
            </center>
        </div>
    </div>
</section>