@{
    ViewData["Title"] = "Event Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section section-variant-1 bg-gray-100 pt-50 text-center">
    <div class="container">
        <div class="row row-30 justify-content-center">
            <div class="col-xl-10">
                <img class="thankyou-img mb-40" height="150" src="/images/coming-soon.png">
                <h2><span class="text-primary">Coming</span> Soon</h2>
                <p class="big text-gray-800">We're currently under construction. We'll be launching soon, For visit our website go to home page.</p>
                <a class="button button-lg button-primary" href="/">Go to home page</a>
            </div>
        </div>
    </div>
</section>

