
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid modal-content" style="max-width:800px;">
    <div class="card">
        <div class="card-header card-header-primary">
                <h3 class="card-title">Access Denied</h3>
            <a class="pull-right" href="/"> <i class="material-icons" data-dismiss="modal">close</i></a>
          
            

        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-12" style="text-align: center;padding: 30px;">
                    <img src="https://maps.gstatic.com/mapfiles/api-3/images/icon_error.png" draggable="false" style="-moz-user-select: none;">
                </div>
                <div class="col-md-12">


                    <div class="alert alert-danger">

                        <span style="width: 100%;text-align: center;">
                            <b>Oops!!! looks like you do not have permission to access this page. Please co-ordinate with system administrator.</b>
                        </span>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
