@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/css/newstatic.css" rel="stylesheet" />
}
<!-- Section Contact-->
<div class="col-12 px-0 aboutt">
    <div class="aboutt_us">ABOUT US</div>
    <img src="/images/home/about.jpg">
</div>
<div class="container mt-5 pt-4 mb-4" style="color: #000000;">
    <div class="text-center aboutt_text mb-5">ABOUT US</div>
    <p>
        <span class="aboutt_us_rank">
            We partnered with the PBR (Professional Bull Riders) to give fans of the most intense sport on dirt the chance to raise the stakes and win cash prizes while competing with friends and other fans across the country.
        </span>
    </p>
    <p>
        <span class="aboutt_us_rank">
            Rank Ride is the future of western sports entertainment, and Bonner Bolton is the cowboy leading the charge. You don’t have to make it to the whistle or conquer the beast to play with us—just be up for a wild ride. May the best man win.
        </span>
    </p>
    <p>
        <span class="aboutt_us_rank">
            Bonner Bolton is no one-trick pony. The former PBR athlete is shaping the future of western sports entertainment and culture, inspiring the next generation of cowboys—whether they ride bulls or not.
        </span>
    </p>
    <p>
        <span class="aboutt_us_rank">
            Rank Ride is a western sports entertainment company created by cowboys, for cowboys. You don’t have to work on a ranch to ride with us. Everyone is a cowboy when they play Rank Ride.
        </span>
    </p>
    <p>
        <span class="aboutt_us_goal">
            The goal of our company is to create an interactive fantasy experience to help fans from all walks of life become engaged with western culture. Rank Ride provides a unique opportunity for users to play fantasy sports in a way that is familiar. Rank Ride provides a whole new thrilling experience when mixing fantasy sports with the extreme sport of bull riding.
        </span>
    </p>
    <p>
        <span class="aboutt_us_goal">
            Rank Ride seeks to give back to the sport of bull riding and its fans. We do this by supporting charities like the Wounded Warriors Project and the Western Sports Foundation. Overall, Rank Ride strives to support cowboys, fans, the sport of bull riding, and the western way of life.
        </span>
    </p>
    <p>
        <span class="aboutt_us_brand">
            The entertainment brand that brings western sports to the mainstream and inspires the next generation of cowboys.
        </span>
    </p>
    <p>
        <span class="aboutt_us_goal">
            We partnered with the PBR (Professional Bull Riders) to change the way people think about western sports. We believe bulls are the most beautiful creatures on earth, and we strive to eliminate misconceptions around animal cruelty in bull riding. We’re on our way to becoming the number one source of entertainment in the world of western sports and culture.
        </span>
    </p>
    <p>
        <span class="aboutt_us_goal">
            This is the future of western sports entertainment. This is Rank Ride. Hold on tight.
        </span>
    </p>
</div>
<partial name="../Shared/_Sponsors.cshtml" />
@await Component.InvokeAsync("SubscibeNewsLetterComponent")
@section Scripts {

}