@model RR.Dto.ForgetPasswordDto
<div class="col-md-12">
    <div id="fpRespone"></div>
    <div id="fpBody">

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="text-center">
                    <div class="panel-body mt-20">
                        <div class="card-body">
                            <form id="fpForm" asp-action="ForgotPassword" asp-controller="Account" method="POST" data-ajax="true" data-ajax-begin="onBegin" data-ajax-complete="onComplete"
                                  data-ajax-failure="onFailed" data-ajax-success="onForgotPasswordSuccess" data-ajax-update="fpRespone">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group bmd-form-group">
                                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", autocomplete = "off", placeholder = "Email" })
                                            @Html.ValidationMessageFor(x => x.Email)
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary  " type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

