<div class="row row-10 row-narrow">
    <div class="col-md-12">
        <div class="form-wrap">
            <ul class="list-statictics">
                <li>
                    Subscription Plan :
                    <p>
                        <input type='hidden' name="Amount" id="_subscribePlan">
                        <span class="list-statictics-counter _amount"></span>
                    </p>
                </li>
            </ul>
            <div class="modal-footer">
                <div class="col-md-2 text-right">
                    <input type="button" class="btn btn-block" value="Proceed" onclick="ConfirmPayment();" />
                </div>
            </div>
        </div>
    </div>
</div>
