
@{
    ViewData["Title"] = "UnAuthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<section class="section section-variant-1 bg-gray-100 pt-50 text-center">
    <div class="container">
        <div class="row row-30 justify-content-center">
          
            <div class="row">
                <div class="col-md-12">
                    <h2>UnAuthorized Request</h2>
                </div>
                <br />
                <br />
                <div class="col-md-12">
                    <a class="btn btn-sm btn-primary" href="/">Go to Home</a>
                </div>
            </div>
        </div>
    </div>
</section>

