
@{
    ViewData["Title"] = "Awards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">
                        Awards List
                        <a href="javascript:void(0)" onclick="return AddEditAward(0)" class="btn pull-right"> Add Award </a>
                    </h4>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="response">
                        </div>
                        <table class="table table-striped table-bordered" id="awardDataTable" width="100%">
                            <thead class=" text-primary">
                                <tr>
                                    <th style="font-size: 13px;">Award Type</th>
                                    <th style="font-size: 13px;">Message</th>
                                    <th style="font-size: 13px;">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="awardModal" role="dialog">

</div>


@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(function () {
            $('.dataTables_filter input').attr('placeholder', 'Search...').hide();
            var table = $("#awardDataTable").DataTable({
                "paging": true,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "columnDefs": [
                    { "targets": [2], "orderable": false }
                ],
                "ajax": {
                    "url": '/awards/allawards',
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "awardTypeName", "name": "awardTypeName", "autoWidth": false },
                    { "data": "message", "name": "message", "autoWidth": false },
                    {
                        "data": "id", "name": "id", "render": function (value) {
                            return '<a href="javascript:void(0)" rel="tooltip" onclick="AddEditAward(' + value + ')" title="Edit Type" class="btn btn-primary btn-link btn-sm" data-original-title="Edit Type"><i class="material-icons">edit</i><div class="ripple-container"></div></a> <a class="showpointer" onclick="DeleteAward(' + value + ')" tooltip="Delete"  data-original-title="Delete Award Type"><i class="material-icons">delete_forever</i></a> '

                        }, "autoWidth": true
                    }
                ],
                dom: "Bfrtip",
                "pageLength": 10
            });

            $('.search-input').on('keyup change', function () {
                var index = $(this).attr('data-column'),
                    val = $(this).val();
                table.columns(index).search(val.trim()).draw();
            });
        });

        function AddEditAward(value) {
            var url = "/addeditaward/" + value;
            $.ajax({
                url: url,
                success: function (resp) {
                    $("#awardModal").html('');
                    $("#awardModal").html(resp);
                    $("#awardModal").modal('toggle');
                    $.validator.unobtrusive.parse("#formAward");
                }
            });
        }

        function onAwardSuccess(response) {
            $("#awardModal").modal('toggle');
            if (response.indexOf("alert-success") > -1) {
                if (response.indexOf("added") > -1) {
                    swal("Success! Award added successfully!", {
                        icon: "success",
                    });
                }
                else {
                    swal("Success! Award updated successfully!", {
                        icon: "success",
                    });
                }
            }
            else {
                swal("Oops! Something went wrong, Please try again.", {
                    icon: "warning",
                });
            }

            $("#awardDataTable").DataTable().draw();
        }

        function DeleteAward(id) {
            var url = "/deleteaward/" + id;
            swal({
                title: "Are you sure?",
                text: "You Want Delete Of This Award?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            type: "POST",
                            url: url,
                            success: function (result) {
                                if (result != null) {


                                    if (result.indexOf('alert-danger') > -1) {
                                        if (result.includes("Access Denied")) {
                                            swal("You Do Not Have Permission To Delete!", {

                                                icon: "warning",
                                            });
                                        } else {
                                            swal("Not Deleted,Something Went Wrong!", {

                                                icon: "warning",
                                            });
                                        }
                                    }
                                    else {
                                        swal("Success! Award is deleted successfully!", {
                                            icon: "success",
                                        });
                                    }
                                    $("#awardDataTable").DataTable().draw();
                                }
                            },
                            error: function () {
                                alert("error");
                            }
                        });
                    }
                });
        }

        function onBegin() {
            $("#preloader").addClass('loaderActive');
        }
        function onComplete() {
            $("#preloader").removeClass('loaderActive');
        }
        function onFailed() {
            $("#preloader").removeClass('loaderActive');
        }
    </script>
}

