<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="ConnectionString" value="Server=1TCDDCLKSX\\SQLEXPRESS;Database=RankRide;User ID=usr_rankride;Password=Z7h=N!4Zkt;Persist Security Info=true;" />
    <add key="ConnectionStringAdmin" value="Server=1TCDDCLKSX\\SQLEXPRESS;Database=RankRideAdmin;User ID=usr_rankride;Password=Z7h=N!4Zkt;Persist Security Info=true;" />
    <add key="ConnectionStringStatic" value="Server=1TCDDCLKSX\\SQLEXPRESS;Database=RankRideStatic;User ID=usr_rankride;Password=Z7h=N!4Zkt;Persist Security Info=true;" />

    <add key="ThirdPartyApikey" value="8f487e0a-cb41-42cf-ab18-08cfd71ab055" />
    <!--<add key="ThirdPartyApikey" value="test01459rrtest" />-->
  </appSettings>
</configuration>