@font-face {
    font-family: 'Acumin Pro Condensed';
    src: url("../fonts/Acumin-Pro-Condensed.ttf");
}
.aboutt {
    background: linear-gradient(270.27deg, #000000 0.26%, rgba(0, 0, 0, 0) 35.94%), linear-gradient(89.88deg, #000000 0.1%, rgba(0, 0, 0, 0) 28.97%), url(../images/home/about.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

    .aboutt img {
        vertical-align: top;
        width: 100%; /* max width */
        opacity: 0; /* make it transparent */
    }

.aboutt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutt_us {
    position:absolute;
    font-family: 'Acumin Pro Condensed';
    font-style: italic;
    font-weight: bold;
    font-size: 110px;
    line-height: 132px;
    /* identical to box height */

    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.aboutt_us_rank {
    font-family: 'Acumin Pro Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.aboutt_us_goal {
    font-family: 'Acumin Pro Condensed';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.aboutt_us_brand {
    font-family: 'Acumin Pro Condensed';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #000000;
}

.aboutt_text {
    display: none;
}

@media only screen and (max-width:768px) {
    .aboutt_us_rank {
        font-size: 20px;
        line-height: 24px;
    }

    .aboutt_us_goal {
        font-size: 16px;
        line-height: 19px;
    }

    .aboutt_us_brand {
        font-size: 20px;
        line-height: 24px;
    }

    .aboutt_us {
        font-size: 36px;
        line-height: 43px
    }

    .aboutt_text {
        display: block;
        font-size: 36px;
        font-family: 'Acumin Pro Condensed';
        font-style: italic;
        font-size: 36px;
        font-weight:bold;
    }
}

.rulees {
    background: linear-gradient(270.27deg, #000000 0.26%, rgba(0, 0, 0, 0) 35.94%), linear-gradient(89.88deg, #000000 0.1%, rgba(0, 0, 0, 0) 28.97%), url(../images/home/rules.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.rulees img {
    vertical-align: top;
    width: 100%; /* max width */
    opacity: 0; /* make it transparent */
}

.rulees {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rulees_title {
    position: absolute;
    font-family: 'Acumin Pro Condensed';
    font-style: italic;
    font-weight: bold;
    font-size: 110px;
    line-height: 132px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.rulees_title_text {
    display: none;
}

.payouts {
    background-color: #DF6A2E;
    font-family: 'Acumin Pro Condensed';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    text-transform: uppercase;
    color: #FFFFFF;
}

@media only screen and (max-width:1200px) {
    .rulees_title {
        font-size: 56px;
        line-height: 84px;
    }
}

@media only screen and (max-width:992px) {
    .rulees_title {
        font-size: 48px;
        line-height: 72px;
    }

    .rulees_title_text {
        display: block;
        font-size: 36px;
        font-family: 'Acumin Pro Condensed';
        font-style: italic;
        font-size: 36px;
    }
}

@media only screen and (max-width:768px) {
    .rulees_title {
        font-size: 36px;
        line-height: 72px;
    }
}

@media only screen and (max-width:576px) {
    .rulees_title {
        font-size: 28px;
        line-height: 48px;
    }
}

@media only screen and (max-width:476px) {
    table {
        width: 100%;
    }
}

@media only screen and (max-width:444px) {
    .rulees_title {
        font-size: 16px;
        line-height: 28px;
    }
}

.rulees_back {
    background-image: url('../images/home/rules_back.png');
    height: 100%;
}

.table_tr {
    background-color: rgba(29, 19, 19, 0.6);
    border-radius: 1%;
    text-align:center;
    width:100%;
}

tbody tr {
    padding: 10px;
}


.table_tr td {
    color: #fff;
    padding:5px 0px;
}
.table_tr th {
    color: #fff;
    padding: 20px 5px;
}
.table_text {
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
    font-weight: 600;
    font-family: 'Acumin Pro Condensed';
    padding: 30px 0px;
}

.rulees_back_footer {
    font-size: 28px;
    line-height: 30px;
    font-family: 'Acumin Pro Condensed';
    color: #000;
    padding: 0px 20px;
}

.scoring {
    color: #000;
}

.scoring_header_title {
    font-family: 'Acumin Pro Condensed';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    align-items: flex-end;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    margin: 20px 0px;
}

.scoring_title {
    font-family: 'Acumin Pro Condensed';
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    /* Black main */

    color: #000000;
}

.scoring_text_title {
    font-family: 'Acumin Pro Condensed';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    text-transform: uppercase;
    color: #000000;
}
p {
    
    font-style: normal;
    font-weight: 300;
}
.scoring_text {
    font-size: 18px;
}
.fa-angle-up {
    padding:3px 10px;
}
.fa-angle-down {
    padding: 3px 10px;
}

.team_scoring {
    font-family: 'Acumin Pro Condensed';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    /* identical to box height */

    text-transform: uppercase;
    color: #000000;
    background: #EEEEEE;
}
